
body {
padding: 0;
    margin: 0;
}

.main-div{
    height: 100vh;
    width: 100%;
background: linear-gradient(180deg, #2E335A 0%, #1C1B33 100%);
}
.image-div{
    background-repeat: no-repeat;
    background-size: cover;     /* fill the whole div */
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;

}